.review-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 0 auto 20px;
    width: 60%;
}

.review-item h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;/
}

.rating {
    font-size: 1.5em;
    color: #3257fa;
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    font-weight: bold;
}

.buttons {
    margin-top: 15px;
    text-align: right;
}

.btn-edit {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 13px;
    background-color: #007bff;
    border: 1px solid #007bff;
    margin-right: 10px;
}

.btn-edit:hover {
    background-color: #0056b3;
    opacity: 0.8;
}

.btn-danger {
    display: inline-block;
    padding: 6.5px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 13px;
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    opacity: 0.8;
}

