/* 予約リスト */
.main {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.resrve-list__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.resrve-list__link {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 4px gray;
}

.reseve-list__ttl {
    font-size: 24px;
    margin-left: 12px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

thead tr {
    background-color: #007BFF;
    color: #fff;
}

thead th {
    text-align: left;
    padding: 10px 15px;
    font-weight: bold;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px 15px;
    color: #555;
}

tbody tr:hover {
    background-color: #e9ecef;
}

@media (max-width: 768px) {
    .main {
        padding: 10px;
    }

    .resrve-list__header {
        flex-direction: column; /* ヘッダーを縦並びに */
        align-items: flex-start;
    }

    .resrve-list__link {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .reseve-list__ttl {
        font-size: 20px; 
    }

    /* テーブル全体をスクロール可能に */
    table {
        font-size: 14px;
        display: block;
        overflow-x: auto; /* 横スクロールを有効に */
        white-space: nowrap;
    }

    thead th, tbody td {
        padding: 8px 10px;
    }

    tbody tr {
        display: table-row;
        width: 100%;
    }
}
