.container {
    overflow-x: hidden;
    width: 90%;
    background-color: #DCDCDC;
    margin: 0 auto;
}

.header-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.hamburger {
    order: -1;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #3257fa;
    box-shadow: 2px 2px 2px gray;
}

.hamburger span {
    display: inline-block;
    position: absolute;
    left: 14px;
    height: 1px;
    border-radius: 1px;
    background: #fff;

}

.hamburger span:first-of-type {
    /* ハンバーガーメニューの1番目の線 */
    top: 25%;
    width: 20%;
}

.hamburger span:nth-of-type(2) {
    /* ハンバーガーメニューの2番目の線 */
    top: 50%;
    width: 50%;
}

.hamburger span:last-of-type {
    /* ハンバーガーメニューの3番目の線 */
    top: 75%;
    width: 10%;
}

.header-ttl {
    margin-left: 20px;
    color: #3257fa;
    font-weight: bold;
}

.slide-menu {
    background-color: #fff;
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100%;
    left: 0;
    transform: translateX(100%);
}

.slide-menu li {
    color: #3257fa;
    line-height: 400%;
    text-align: center;
    list-style: none;
    padding-left: 0
}

.hamburger.active span:first-of-type {
    /* ハンバーガーメニューの1番目の線 */
    top: 50%;
    transform: rotate(45deg);
    width: 40%;
}

.hamburger.active span:nth-of-type(2) {
    /* ハンバーガーメニューの2番目の線 */
    opacity: 0;
    /* 透明にする */
}

.hamburger.active span:last-of-type {
    /* ハンバーガーメニューの3番目の線 */
    top: 50%;
    transform: rotate(-45deg);
    width: 40%;
}

.slide-menu.active {
    transform: translateX(0);
}