.container {
    overflow-x: hidden;
    width: 90%;
    background-color: #DCDCDC;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #3257fa;
    box-shadow: 2px 2px 2px gray;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.hamburger span {
    display: inline-block;
    position: absolute;
    left: 14px;
    height: 1px;
    border-radius: 1px;
    background: #fff;

}

.hamburger span:first-of-type {
    top: 25%;
    width: 20%;
}

.hamburger span:nth-of-type(2) {
    top: 50%;
    width: 50%;
}

.hamburger span:last-of-type {
    top: 75%;
    width: 10%;
}

.header-area {
    padding-left: 3%;
}

.header-ttl {
    color: #3257fa;
    font-weight: bold;
    width: 100px
}

.slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.slide-menu li {
    color: #3257fa;
    line-height: 200%;
    text-align: center;
    list-style: none;
    margin: 10px 0;
    font-weight: bold;
}

.hamburger.active span:first-of-type {
    top: 50%;
    transform: rotate(45deg);
    width: 40%;
}

.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active span:last-of-type {
    top: 50%;
    transform: rotate(-45deg);
    width: 40%;
}

.slide-menu.active {
    transform: translateX(0);
}

.message_error {
    width: 50%;
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.message_success {
    width: 50%;
    color: #155724;
    background-color: #92d8a2;
    border-color: #81e999;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .header-area {
        padding-left: 60px;
    }
}