/* 認証 */
.auth-card {
    background: #ffffff;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 100px;
    box-shadow: 2px 2px 4px gray;
}

.auth-card__ttl {
    background: #305dff;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 18px;
}

.auth-card__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.auth-card__item__img {
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
}

.auth-card__item__input {
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
}

.auth-card__btn {
    text-align: right;
    margin: 15px 30px 0 0;
}

.auth-card__btn input {
    background: #305dff;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
}

.error-message {
    color: red !important;
    font-size: 12px !important;
    margin-top: 5px !important;
}

/* ノートPCサイズ向け（1024px以上） */
@media (min-width: 1024px) {
    .auth-card {
        width: 450px;
    }

    .auth-card__ttl {
        font-size: 20px;
    }

    .auth-card__item__input {
        width: 350px;
    }
}

/* スマートフォンサイズ向け（600px以下） */
@media (max-width: 600px) {
    .auth-card {
        width: 90%;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    .auth-card__ttl {
        font-size: 16px;
        text-align: center;
    }

    .auth-card__item {
        padding: 5px 10px;
    }
}
