.reservation-form {
    background-color: #3257fa;
    border-radius: 5px;
    margin: 0 auto;
    width: 550px;
}

.reservation-header {
    margin: 0 40px;
    color: #fff;
    padding-top: 10px;
}

.freservation-form__body {
    margin-top: 20px;
}

.reservation-form__group {
    margin: 10px 40px;
}

.date-form {
    width: 50%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.datepicker-container {
    position: relative;
    display: inline-block;
}

.date-form {
    padding-right: 40px;
    background-image: url('https://jqueryui.com/resources/demos/datepicker/images/calendar.gif');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    caret-color: transparent;
    font-size: 14px;
}

.time-form {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.number-form {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.reservation-details {
    background-color: rgb(100, 149, 237, 1);
    margin: 20px 40px 70px;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.reservation-details p {
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.reservation-details p span {
    margin-left: 50px;
}

.reserve-button {
    width: 550px;
    padding: 15px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    bottom: 0;
}

.reserve-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {}