/* 詳細 */
.shop-detail {
    width: 50%;
}
  
.shop-detail__link {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 4px gray;
}
  
.shop-detail__ttl {
    font-size: 28px;
    margin-left: 12px;
}
  
.shop-detail__img {
    margin: 15px 0;
}

.shop-detail__tag {
    line-height: 24px;
    margin-bottom: 8px;
}
  
.shop-detail__txt {
    line-height: 24px;
    margin-bottom: 25px;
}

.shop-detail {
    display: flex;
    flex-direction: column;
}

.all-reviews-link {
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    background-color: rgb(100, 149, 237, 1);
    color: #FFF;
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

.rate-button {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
    width: 200px;
}

.user-review {
    margin-top: 20px;
    padding-top: 15px; 
    border-top: 2px solid #ccc; 
    border-bottom: 2px solid #ccc;
}

.user-review__header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.edit-button {
    padding: 10px 15px;
    color: black;
}

.delete-button {
    padding: 10px 15px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.8;
}

/* ユーザーの口コミ表示 */
.user-review__main {
    margin-top: 15px;
    padding: 15px;
}

.rating {
    font-size: 1.5em;
    color: #3257fa;
    margin-bottom: 10px;
}

.comment {
    font-size: 1.2em;
    color: #555;
}

.review-image {
    margin-top: 10px;
    padding: 10px;
}
  
.reservation {
    width: 50%;
}
  
.reservation-card {
    background: #305dff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    height: 95%;
    margin: 64px auto;
    position: relative;
    width: 85%;
}
  
.reservation-card__content {
    padding: 36px 0 0 28px;
}
  
.reservation-card__content__ttl {
    font-size: 24px;
    color: #fff;
    margin-bottom: 28px;
}
  
.error__lists {
    margin: 1rem 0;
    color: #fff;
}
  
.reservation-card__date-input {
    padding: 7px 30px 7px 10px;
}
  
.reservation-card__pull-down {
    margin-top: 14px;
}
  
.reservation-card__pull-down select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 30px 7px 10px;
    height: 30px;
    width: 90%;
    border-radius: 5px;
    border: none;
    background-image: url(../img/triangle.png);
    background-repeat: no-repeat;
    background-size: 12px 10px;
    background-position: right 10px center;
    line-height: 1.1em;
    outline: none;
}
  
.reservation-details {
    background-color: rgb(100, 149, 237, 1);
    margin: 20px 60px 0px 0px;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
  
.reservation-details p {
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
  
.reservation-details p span {
    margin-left: 50px;
}
  
.reservation-btn {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    border: none;
    z-index: 1;
    background: #0038ff;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

/* ノートPCサイズ向け（1024px以上） */
@media (min-width: 1024px) {
    .main {
        display: flex;
        justify-content: space-between;
    }

    .shop-detail, .reservation {
        width: 45%;
    }

    .reservation-card {
        width: 80%;
    }
}

/* タブレットサイズ（768px〜1023px） */
@media (min-width: 768px) and (max-width: 1023px) {
    .shop-detail__link {
        margin-right: 20px;
    }

    .shop-detail__ttl {
        text-align: center;
        margin-left: 0;
        padding-top: 7px;
    }

    .reservation-card {
        width: 80%;
        height: 65vh;
        font-size: 14px;
    }
}

/* スマートフォンサイズ向け（600px以下） */
@media (max-width: 600px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .shop-detail, .reservation {
        width: 90%;
        margin-bottom: 20px;
    }

    .shop-detail__link {
        margin-right: 20px;
    }

    .shop-detail__ttl {
        font-size: 24px;
        text-align: center;
        margin-left: 0;
        padding-top: 7px;
    }

    .shop-detail__img {
        margin-top: 20px;
    }

    .shop-detail__txt {
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
    }

    .reservation-card {
        width: 100%;
        height: 60vh;
    }

    .reservation-card__content {
        padding: 20px;
    }

    .reservation-card__content__ttl {
        font-size: 20px;
    }

    .reservation-card__pull-down select {
        width: 100%;
    }

    .reservation-details {
        margin: 20px 0 0;
        padding: 15px;
    }

    .reservation-details p span {
        margin-left: 20px;
    }

    .reservation-btn {
        padding: 15px 0;
    }
}
