.shop-detail {
    display: flex;
    width: 100%;
}

.info {
    flex: 1;
    padding: 20px;
}

.info-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 80%;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    margin-right: 15px;
    margin-bottom: 5px;
    background: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    text-decoration: none;
}

.shop-name {
    font-size: 33px;
}

.shop-image {
    width: 80%;
    margin-bottom: 10px;
    display: block;
}

.rate-button {
    font-size: 15px;
    padding: 8px 15px;
    background-color: #3257fa;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    text-decoration: none;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
}

.shop-tags {
    display: inline-block;
}

.shop-tag {
    display: inline-block;
    margin-right: 10px;
}

.shop-description {
    width: 80%;
    font-size: 16px;
    margin-bottom: 80px;
}

.reservation-form {
    flex: 1;
    background-color: #3257fa;
    border-radius: 5px;
    position: relative;
    top: -60px;
    margin-right: 20px;
}

.reservation-header {
    margin: 0 40px;
    color: #fff;
}

.freservation-form__body {
    margin-top: 20px;
}

.reservation-form__group {
    margin: 10px 40px;
}

.date-form {
    width: 40%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.datepicker-container {
    position: relative;
    display: inline-block;
}

.date-form {
    padding-right: 40px;
    background-image: url('https://jqueryui.com/resources/demos/datepicker/images/calendar.gif');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    caret-color: transparent;
    font-size: 14px;
}

.time-form {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.number-form {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.reservation-details {
    background-color: rgb(100, 149, 237, 1);
    margin: 20px 40px 70px;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.reservation-details p {
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.reservation-details p span {
    margin-left: 50px;
}

.reserve-button {
    width: 100%;
    padding: 15px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}

.reserve-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {

    .shop-detail {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .info {
        padding: 20px;
    }

    .reservation-form {
        background-color: #3257fa;
        border-radius: 5px;

        margin-top: 20px;
        color: #fff;
        box-sizing: border-box;
    }

    .reservation-header {
        margin-bottom: 20px;
    }

    .reservation-form__group {
        margin-bottom: 15px;
    }

    .date-form,
    .time-form,
    .number-form {
        width: 100%;
        padding: 10px;
        font-size: 9px;
        border: none;
        border-radius: 5px;
    }

    .reservation-details {
        margin-top: 20px;
        padding: 10px;
    }

    .reservation-details p {
        margin: 10px 0;
        font-size: 10px;
    }

    .reserve-button {
        margin-top: 20px;
    }

}

@media (max-width: 425px) {
    .info-header {
        flex-wrap: wrap;
        /* 評価ボタンが改行されるように */
    }

    .rate-button {
        margin: 5px 0;
        width: 100%;
        font-size: 11px;
    }
}