.search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    width: 70%;
}

.search-form__outer-frame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px gray;
}

.area {
    width: 20%;
    padding-left: 10px;
    border: none;
    height: 25px;
    border-right: 1px solid #ccc;
}

.genre {
    width: 20%;
    padding-left: 10px;
    border: none;
    height: 25px;
    border-right: 1px solid #ccc;
}

.name {
    width: 60%;
    padding-right: 30px;
    border: none;
    height: 25px;
}

.search-icon {
    background-color: #fff;
    padding: 0.5px 10px;
}

/* 飲食店カードの配置 */
.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.restaurant-card {
    height: 314px;
    width: 314px;
    margin: 0 10px 20px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    background-color: #fff;
}

.card-body {
    padding: 15px;
}

.card-body h3 {
    margin: 0 5px;
}

.restaurant-image {
    width: 100%;
    height: 60%;
    border-radius: 5px 5px 0 0;
}

.card-text-container {
    display: flex;
    font-size: 11px;
}

.card-text {
    margin: 0 5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn-detail {
    background-color: #3257fa;
    color: #FFF;
    margin-right: 10px;
    padding: 5px 13px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.favorite-btn {
    background-color: #fff;
    margin-left: auto;
    border: none;
}

.heart-icon {
    color: rgb(128, 128, 128);
    font-size: 24px;
}

.favorite-btn.clicked .heart-icon {
    color: red;
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
    }

    .search-form {
        width: 100%;
        margin-bottom: 20px;
    }
}