.search-form {
    width: 70%;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 20px;
}

.search-form__outer-frame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.area {
    width: 20%;
    padding-left: 10px;
    border: none;
    height: 25px;
    border-right: 1px solid #ccc;
}

.genre {
    width: 20%;
    padding-left: 10px;
    border: none;
    height: 25px;
    border-right: 1px solid #ccc;
}

.name {
    width: 60%;
    padding-right: 30px;
    border: none;
    height: 25px;
}

.search-icon {
    background-color: #fff;
    padding: 0.5px 10px;
}

/* 飲食店カードの配置 */
.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.restaurant-card {
    height: 314px;
    width: 314px;
    margin: 0 10px 20px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    background-color: #fff;
}

.restaurant-image {
    width: 100%;
    height: 60%;
    border-radius: 5px 5px 0 0;
}

.card-body {
    padding: 15px 15px 0px 15px;
}

.card-body h3 {
    margin: 0px;
}

.info-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.restaurant-rating {
    display: flex;
    padding: 0px;
    font-weight: bold;
    font-size: 11px;
    width: 55%;
    align-items: center;
}

.rate {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    /* 星5個の幅 */
    height: 20px;
    /* 星1個の幅 */

}

.rate::before,
.rate::after {
    position: absolute;
    display: inline-block;
    height: 20px;
    content: '★★★★★';
    line-height: 20px;
}

.rate::before {
    color: #c4c4c4;
    /* 背景の星、色はグレー */
}

.rate::after {
    overflow: hidden;
    width: var(--width);
    /* 平均評価に応じて動的に変化する幅 */
    color: #ffb906;
}

.num {
    width: 20%;
    margin-right: 5px;
}

.info-container_tag {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 0px;
    margin-right: auto;
}

.card-tag {
    margin: 0 5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-detail {
    background-color: #3257fa;
    color: #FFF;
    margin-right: 10px;
    padding: 5px 13px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.favorite-btn {
    background-color: #fff;
    margin-left: auto;
    border: none;
}

.heart-icon {
    color: rgb(128, 128, 128);
    font-size: 24px;
}

.favorite-btn.clicked .heart-icon {
    color: red;
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
    }

    .search-form {
        width: 100%;
        margin-bottom: 20px;
    }
}