/* マイページ */
.user-info {
    display: flex;
    justify-content: space-between; 
    width: 85%;
    margin-bottom: 48px;
}

.username {
    font-size: 32px;
}

.list-btn {
    font-size: 15px;
    padding: 8px 15px;
    background-color: #3257fa;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
  
.status {
    width: 50%;
}

.status__ttl {
    font-size: 24px;
    margin-bottom: 30px;
}

.status__card {
    background: #305dff;
    width: 80%;
    margin: 30px 0;
    padding: 30px;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
}

.status__card__top {
    margin-bottom: 25px;
}

.status__card__bottom tr {
    height: 40px;
}

.status__card__bottom td {
    width: 100px;
    vertical-align: middle;
}

.cancel {
    cursor: pointer;
}

.likes {
    width: 50%;
}

.likes__ttl {
    font-size: 24px;
    margin-bottom: 30px;
}

.shop-card {
    width: 300px;
    height: 280px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    margin-bottom: 2%;
}

.shop-card__img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 150px;
    max-height: 150px;
    object-fit: cover;
}

.shop-card__content {
    padding: 20px;
}

.shop-card__content__ttl {
    font-size: 18px;
    margin-bottom: 10px;
}

.shop-card__content__txt {
    font-size: 12px;
    margin-bottom: 15px;
}

.shop-card__content__link {
    text-decoration: none;
    background: #305dff;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.shop-card__content__icon {
    cursor: pointer;
}

.shop-card__content__icon.inactive {
    fill: #eee;
}

/* スマートフォンサイズ向け（600px以下） */
@media (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;
    }

    .username {
        text-align: center;
        margin-bottom: 16px;
    }

    .list-btn {
        text-align: center;
    }

    .status, .likes {
        width: 90%;
    }

    .status__card, .shop-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .status__ttl, .likes__ttl {
        font-size: 20px;
        text-align: center;
    }

    .likes__ttl {
        margin-top: 35px;
    }

    .status__card__bottom td {
        width: auto;
        text-align: left;
    }

    .shop-card__content__ttl {
        font-size: 18px;
    }

    .shop-card__content__txt {
        font-size: 14px;
    }

    .shop-card__content__link {
        padding: 5px 10px;
        font-size: 14px;
    }
}
