.review-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    font-weight: bold;
}

.buttons {
    margin-top: 10px;
    text-align: right;
}

.btn-edit {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    font-size: 11px;
}

.btn-danger {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    font-size: 11px;
}

.btn:hover {
    opacity: 0.8;
}